body{
    display: flex;
    justify-content: center;
}

.square{
    display: flex;
    border: 1px solid black;
    box-sizing: border-box;
}

#container{
    display: flex;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
}

